
.table td {
    vertical-align: middle;
}

.tp-axis-dimensions-block.active{
    background-color: #007bff;
    color: white;
    font-weight: bold;
}
/* Add this CSS to limit the height of table cells */
.limited-height {
    max-height: 50px; /* Adjust the height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filter-items{
    max-height: 400px;
    overflow-y: auto;
}

/* Add a nice border to all Bootstrap containers */
.container {
    border: 2px solid #007bff; /* Blue border color */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside the container */
    margin-bottom: 15px; /* Space below the container */
}