<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plot Master</title>

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- TouchPlot -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="../static/css/styles.css">
<script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.2/lib/bundle.min.js"></script>
<script type="module" src="../static/js/main.js"></script>

<div id="main_container" class="container">
    <div id="submit_container" class="container">
        <div class="row">
            <h1 class="col-5">Upload CSV to Plot</h1>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-5" for="tp-table-csv-file">CSV file</label>
                    <input type="file" class="col-5 form-control-file" id="tp-table-csv-file" name="csvfile">
                </div>
                <button type="submit" class="col-2 btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
    <div id="dual_container" class="container">
        <div class="row">
            <div id="filter_container" class="col-4 ">
                <div class="container">
                    <div class="row">
                        <h2>Filter</h2>
                        <button type="button" id="plotButton" class="col-2 btn btn-primary">Plot!</button>
                    </div>
                    <div class="row">
                        <div class="col-6 filter-items">
                            <ul class="list-group" id="tp-axis-header-list">

                            </ul>

                        </div>
                        <div class="col-6">
                            <div class="list-group">
                                 <a href="#" class="tp-axis-dimensions-block list-group-item-action filter-field">
                                    <div class="container w-100 justify-content-between">
                                        <h5 class="row">x-axis</h5>
                                        <ul class="row list-group tp-axis-dimensions-list" id="tp-axis-x-axis-list">
                                        </ul>
                                    </div>
                                </a>

                                <a href="#" class="tp-axis-dimensions-block list-group-item-action filter-field">
                                    <div class="container w-100 justify-content-between">
                                        <h5 class="row">y-axis</h5>
                                        <ul class="row list-group tp-axis-dimensions-list" id="tp-axis-y-axis-list">
                                        </ul>
                                    </div>
                                </a>


                                <a href="#" class="tp-axis-dimensions-block list-group-item-action filter-field" aria-current="true">
                                    <div class="container w-100 justify-content-between">
                                        <h5 class="row">group-axis</h5>
                                        <ul class="row list-group tp-axis-dimensions-list" id="tp-axis-group-axis-list">
                                        </ul>
                                    </div>
                                </a>

                                <a href="#" class="tp-axis-dimensions-block list-group-item-action filter-field" aria-current="true">
                                    <div class="container w-100 justify-content-between">
                                        <h5 class="row">color-axis</h5>
                                        <ul class="row list-group tp-axis-dimensions-list" id="tp-axis-color-axis-list">
                                        </ul>
                                    </div>
                                </a>


                                <a href="#" class="tp-axis-dimensions-block list-group-item-action filter-field active" aria-current="true">
                                    <div class="container w-100 justify-content-between">
                                        <h5 class="row">filter-axis</h5>
                                        <ul class="row list-group tp-axis-dimensions-list" id="tp-axis-filter-axis-list">
                                        </ul>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab_container" class="col-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="raw-data-tab" data-bs-toggle="tab" data-bs-target="#raw-data" type="button" role="tab" aria-controls="raw-data" aria-selected="true">Raw Data</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="filtered-table-tab" data-bs-toggle="tab" data-bs-target="#filtered-table" type="button" role="tab" aria-controls="filtered-table" aria-selected="false">Filtered Data</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="plots-tab" data-bs-toggle="tab" data-bs-target="#plots" type="button" role="tab" aria-controls="plots" aria-selected="false">Plots</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="raw-data" role="tabpanel" aria-labelledby="raw-data-tab">
                        <h5>Raw Data</h5>
                        <div class="mt-5 table-responsive" id="tp-table-raw-data">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="filtered-table" role="tabpanel" aria-labelledby="filtered-table-tab">
                        <h5>Filtered Data</h5>
                        <div class="mt-5 table-responsive" id="tp-table-filtered-data" >
                        </div>
                    </div>
                    <div class="tab-pane fade" id="plots" role="tabpanel" aria-labelledby="plots-tab">
                        <h5>Plots</h5>
                        <div id="tp-plot-plotly-div" >
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="footer">
    <p>By Eduardo Munoz</p>
</footer>
</body>


</html>
